<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 bg-dark pt-f-left d-none d-lg-block">
            <img src="./assets/img/f-left.png" class="img-fluid food-left" alt="food-left">
        </div>
        <div class="col-lg-8 bg-dark pt-3">
            <div class="row justify-content-center me-follow-us">
                <div class="col-lg-2 col-sm-6 text-center py-2">
                    <span class="pt-2 font-size fw-bold text-white">Follow us :
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <span class="social-menu">
                        <ul class="d-flex">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form>
                        <div class="input-group mx-auto pt-3">
                            <input type="email" placeholder="Your Email Address" class="form-control bg-dark">
                            <button class="btn btn-light">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center pt-5 text-white">
                <div class="col-lg-3 text-center py-2">
                    <img src="../../../assets/img/phone.png" class="img-fluid mb-2" alt="phone">
                    <p>Phone Number: <br>+1 111 000 111</p>

                </div>
                <div class="col-lg-3 text-center py-2">
                    <img src="../../../assets/img/location.png" class="img-fluid mb-2" alt="location">
                    <p>Sadar Haldiram chawk <br>Nagpur 441111</p>
                </div>
                <div class="col-lg-3 text-center py-2">
                    <img src="../../../assets/img/drop_line.png" class="img-fluid mb-2" alt="drop_line">
                    <p>Drop us a line: <br>Hello@zooshi.com</p>
                </div>
            </div>
            <hr class="text-white">
            <div class="text-center py-3 mb-3 text-white">
                Copyright © 2022.All Rights Reserved By Food
            </div>
        </div>
        <div class="col-lg-2 bg-dark pt-f-right d-none d-lg-block">
            <img src="./assets/img/f-right.png" class="img-fluid food-right" alt="food-right">
        </div>
    </div>

</div>