<app-login-modal></app-login-modal>
<!-- <section class="h-100 gradient-form">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100 pt-4">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-5 align-items-center">
                <img src="../../../assets/img/julia-sereda-chef-hd-web1.jpg" class="img-fluid rounded-3" alt="">
              </div>
              <div class="col-lg-6 mx-auto">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="../../../assets/img/restaurant logo.jpg"
                      style="width: 185px;" alt="logo">
                    <h5 class="mt-1 mb-5 pb-1 text-color">Welcome to Restaurant</h5>
                  </div>
  
                  <form [formGroup]="loginForm">
                    <div class="form-outline">
                      <label class="form-label" for="form2Example11">Email</label>
                      <input type="email" id="form2Example11" class="form-control" formControlName="email"
                        placeholder="enter your email" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" id="form2Example22" class="form-control" formControlName="password"
                        placeholder="enter your password" />
                    </div>
                    <div class="text-center pt-1 mb-4 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 rounded-5 px-5" type="button"
                        (click)="login()">Sign in</button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center ">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button routerLink="/signup" type="button" class="btn btn-outline-danger">Create new</button>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->