<div class="container-fluid">
  <section class="add-cafe">
    <div class="container">
      <form [formGroup]="CafeForm" enctype="multipart/form-data">
        <div class="row justify-content-center content-height">
          <div class="col-lg-6 left-part">
            <label for="Cafe name">Cafe Name</label>
            <input type="text" formControlName="cafeName" class="form-control">
            <label for="Cafe name">Description</label>
            <input type="text" formControlName="description" class="form-control">
            <label for="Cafe name">Price (INR)</label>
            <input type="text" formControlName="price" class="form-control">
            <label for="Cafe name">Location</label>
            <input type="text" formControlName="location" class="form-control">
          </div>
          <div class="col-lg-4 col-sm-12 mb-4">
            <div class="imageData">
              <img [src]="imageData" height="200">
            </div>
            <div class="text-md-ceter text-lg-center pt-2">
              <input type="file" name="file" (input)="onSelectFile($event)">
            </div>


          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-danger rounded-1" (click)="addCafeForm()">Add Cafe</button>
        </div>
        </div>
      </form>
    </div>
  </section>
</div>