.circle {
    clip-path: circle(39% at 50% 50%);
}

@media screen and (max-width:1024px) {
    .text-center-sm{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

img:hover{
    cursor: pointer;
}