<!-- Popular items -->
<div class="container py-5 mb-5">
    <p class="text-center text-danger py-4 h1" style="font-family: 'Great Vibes', cursive;">Popular Items</p>
    <div class="row">
        <div class="col-lg-6">
            <ngb-carousel #carousel [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <img src="../../../assets/img/Potage soup.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm ">
                            <h3>Potage</h3>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$35</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/pizza-slider-1.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm ">
                            <h3 class="text-danger">CHICKEN</h3>
                            <h3 class="text-danger">PIZZA</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$25</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/greek-salad.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm ">
                            <h3>Greek</h3>
                            <h3>Salad</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$10</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/chocalate-dessert.jpeg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm ">
                            <h3 class="text-danger">Chocolate</h3>
                            <h3 class="text-danger">Dessert</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$25</span>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-lg-6">
            <ngb-carousel #carousel [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/pizza-slider-1.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm">
                            <h3 class="text-danger">Chicken</h3>
                            <h3 class="text-danger">Pizza</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$25</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <img src="../../../assets/img/Potage soup.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm">
                            <h3>Potage</h3>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$10</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/chocalate-dessert.jpeg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm">
                            <h3 class="text-danger">Chocolate</h3>
                            <h3 class="text-danger">Dessert</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$5</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/img/greek-salad.jpg" alt="Random first slide"
                                class="img-fluid circle">
                        </div>
                        <div class="col-lg-6 text-center-sm">
                            <h3>Greek</h3>
                            <h3>Salad</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="fw-bold">Start from</span><span class="text-danger fw-bold h5">$10</span>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>