input{
    width: 40px;
    text-align: center;
    padding-left: 5px;
}

.remove{
    background-color: #326da9;
    color: white;
    
}

.poppins{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.font-Cormorant{
    font-family: 'Cormorant', serif;
}

.poppins-sans-serif{
    font-family: 'Poppins', sans-serif
}

.btn-checkout{
    border-radius: 0%;
    background-color: #70b6b6;
    color: white;
}

.shopping-icon{
    padding-right: 4px;
}