.ps-cart{
    padding-left: 0.9em;
}

.ps-payment{
    padding-left: 1em;
}

.ps-box{
    padding-left: 0.7em;
}

.navbar{
    z-index: 1;
}
.ps-lg-5{
    padding-left: 4rem !important;
}

.font-size{
    font-size: 36px;
    padding-left: 60px;
}

a{
    color: black;
}

a{
    cursor: pointer;
}

.view-cart{
    cursor: pointer;
}

// a:hover{
//     color: rgba(255, 255, 0, 0.788);
// }