<div class="container-fluid">
    <section class="booking-details">
        <div class="container">
            <div class="row justify-content-center content-height">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">No Of Person</th>
                            <th scope="col">Date</th>
                            <th scope="col">time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of arr; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{b.name}}</td>
                            <td>{{b.phone}}</td>
                            <td>{{b.noOfPerson}}</td>
                            <td>{{b.date | date: "dd-MM-yyyy"}}</td>
                            <td>{{b.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
