<section style="background-color: #f4f4f4;">
    <div class="container mb-2 ">
        <!-- <form [formGroup]="SoupForm"> -->
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4 col-md-6 mb-3" *ngFor="let t of tables">
                    <div class="card">
                        <img [src]= "t.imageUrl" class="img-responsive">
                        <div class="card-body">
                            <div class="d-flex flex-column text-start px-1 card-details">
                                <p class="fw-bold">{{t.cafeName}}</p>
                                <p>{{t.description}}</p>
                                <p>₹ {{t.price}} for 2 (approx) |</p>
                            </div>
                            <div class="text-start">
                                <button class="btn btn-danger rounded-1" (click)="viewTable(t.id)">View Table</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </div>
</section>