// .btn-orange{
//     background-color: #ff0018;
//     color: white;
//     border-radius: 0%;
// }

// .reservation{
//     color: #ff0018;
//     font-family: 'Great Vibes', cursive;
//     font-weight: bold;
//     font-size: 70px;
// }

// input{
//     border: dotted;
//     border-color: #cacaca;
//     background-color: #f5f5f5;
//     border-radius: 1%;
//     margin-top: 5%;
// }
// ::placeholder{
//     color: black;
// }

// select{
//     border: dotted;
//     border-color: #cacaca;
//     background-color: #f5f5f5;
//     border-radius: 1%;
//     cursor: pointer;
//     margin-top: 5%;

// }

// .poppins{
//     font-family: 'Poppins', sans-serif;
// }

// // .container-fluid{
// //     background-color: #f0f0fa;
// // }

// // E75B1E

.container{
    padding-top: 5rem;
    .card-details{
        line-height: 59%;
    }
}


.img-responsive{
    object-fit: cover;
    object-position: center;
    height: 200px;
}